@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.backface-visible {
  backface-visibility: visible;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
