@import "tailwindcss";
@import 'aos/dist/aos.css';
@theme inline {
  --color-orange: #FA8B02;
  --color-darker: #333333;
}
@font-face {
  font-family: "Podcast";
  src: url("/fonts/Podcast.ttf") format("truetype");
}
:root {
  --font-podcast: "Podcast", sans-serif;
}
.font-podcast {
  font-family: var(--font-podcast);
}