.git
.gitignore
.dockerignore
.env
.env*
*env copy*
*env_copy*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.md
test/
scripts/
scratch*/
scratch_check_db.js
env copy
*copy
