@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--text-tiny: 0.625rem;
	--color-light: #fcf9f5;
	--color-dark: #6e3931;
	--color-font-light: #FCF9F5;
	--color-font-dark: #291707;
	--color-gold-50: #F9F5F1;
	--color-gold-100: #F3EBE2;
	--color-gold-200: #EDE0D4;
	--color-gold-300: #E7D6C5;
	--color-gold-400: #E1CCB7;
	--color-gold-500: #DBC2A9;
	--color-gold-600: #D5B89A;
	--color-gold-700: #CFAF8C;
	--color-gold-800: #C9A47E;
	--color-gold-900: #C3996F;
	--color-gold-950: #BD8F61;
}

@theme inline {
	--font-sans: var(--font-sans);
	--font-serif: var(--font-serif);
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes fade-out {
	from {
		opacity: 100%;
	}

	to {
		opacity: 0%;
	}
}

@keyframes full-slide-from-top {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes full-slide-from-bottom {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes full-slide-from-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes full-slide-from-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-from-top {
	from {
		transform: translateY(-20%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(20%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-20%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(20%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes scale-up {
	from {
		scale: 80%;
	}

	to {
		scale: 100%;
	}
}

@keyframes scale-down {
	from {
		scale: 120%;
	}

	to {
		scale: 100%;
	}
}

@keyframes rotate-from-quarter {
	from {
		rotate: 90deg;
	}

	to {
		rotate: 0deg;
	}
}

@keyframes rotate-to-quarter {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 90deg;
	}
}

@keyframes unfold-x {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}


@keyframes unfold-y {
	from {
		height: 0%;
	}

	to {
		height: 100%;
	}
}

@keyframes unfold-xy {
	from {
		width: 0%;
		height: 0%;
	}

	to {
		width: 100%;
		height: 100%;
	}
}

@utility unfold-xy {
	@apply animate-[unfold-xy_1.5s_ease_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility unfold-x {
	@apply animate-[unfold-x_1.5s_ease_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility unfold-y {
	@apply animate-[unfold-y_1.5s_ease_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility fade-in {
	@apply animate-[fade-in_700ms_ease-out_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility fade-out {
	@apply animate-[fade-out_700ms_ease-out_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility scale-up {
	&>* {
		@apply animate-[scale-up_700ms_ease-out_both];
	}

	&[data-intersected='true'] {
		&>* {
			animation-play-state: running;
		}
	}

	&[data-intersected='false'] {
		&>* {
			animation-play-state: paused;
		}
	}
}

@utility scale-down {
	&>* {
		@apply animate-[scale-down_700ms_ease-out_both];
	}

	&[data-intersected='true'] {
		&>* {
			animation-play-state: running;
		}
	}

	&[data-intersected='false'] {
		&>* {
			animation-play-state: paused;
		}
	}
}

@utility full-slide-from-top {
	animation-name: full-slide-from-top, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility full-slide-from-bottom {
	animation-name: full-slide-from-bottom, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility full-slide-from-left {
	animation-name: full-slide-from-left, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility full-slide-from-right {
	animation-name: full-slide-from-right, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility slide-from-top {
	animation-name: slide-from-top, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility slide-from-bottom {
	animation-name: slide-from-bottom, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility slide-from-left {
	animation-name: slide-from-left, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility slide-from-right {
	animation-name: slide-from-right, fade-in;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 700ms;

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility rotate-from-quarter {
	@apply animate-[rotate-from-quarter_500ms_ease-out_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility rotate-to-quarter {
	@apply animate-[rotate-to-quarter_500ms_ease-out_both];

	&[data-intersected='true'] {
		animation-play-state: running;
	}

	&[data-intersected='false'] {
		animation-play-state: paused;
	}
}

@utility anim-delay-* {
	animation-delay: --value([*]);
}

@layer components {
	.parallax {
		overflow: clip;
		display: flex;
		justify-content: center;
		align-items: center;

		&>* {
			will-change: transform;
			scale: 1.2;
		}
	}
}

@layer components {
	.hamburger {
		@apply bg-gold-100 rounded-full size-16;

		&>*:first-child {
			@apply stroke-1 stroke-black size-full;

			&>* {
				@apply origin-center;
			}

			&>*:first-child {
				@apply -translate-y-[5px];
			}

			&>*:last-child {
				@apply translate-y-[5px];
			}
		}

		&[data-state='open'] {
			@apply animate-[hamburger-open_500ms_both];

			&>*:first-child {
				&>*:first-child {
					@apply animate-[hamburger-top-open_500ms_both];
					@apply translate-y-0;
				}

				&>*:last-child {
					@apply animate-[hamburger-bottom-open_500ms_both];
					@apply translate-y-0;
				}
			}
		}

		&[data-state='closed'] {
			@apply animate-[hamburger-close_500ms_both];

			&>*:first-child {
				&>*:first-child {
					@apply animate-[hamburger-top-close_500ms_both];
					@apply -translate-y-[5px];
				}

				&>*:last-child {
					@apply animate-[hamburger-bottom-close_500ms_both];
					@apply translate-y-[5px];
				}
			}
		}
	}

	@keyframes hamburger-open {
		from {
			width: 4rem;
			height: 4rem;
		}

		to {
			width: 5rem;
			height: 5rem;
		}
	}

	@keyframes hamburger-close {
		from {
			width: 5rem;
			height: 5rem;
		}

		to {
			width: 4rem;
			height: 4rem;
		}
	}

	@keyframes hamburger-top-open {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(-138deg);
		}
	}

	@keyframes hamburger-top-close {
		from {
			transform: rotate(-138deg);
		}

		to {
			transform: rotate(0deg);
		}
	}

	@keyframes hamburger-bottom-open {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(138deg);
		}
	}

	@keyframes hamburger-bottom-close {
		from {
			transform: rotate(138deg);
		}

		to {
			transform: rotate(0deg);
		}
	}
}