# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
.vercel
.idea/
.vscode/

# typescript
*.tsbuildinfo
next-env.d.ts
