# Форми (API Edge)
TELEGRAM_BOT_TOKEN="ваш_токен_бота"
TELEGRAM_CHAT_ID="id_чату"
GOOGLE_SCRIPT_URL="url_вашого_google_script"

# Аналітика та Карти (Публічні)
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSy..."
